header{
    background-color: bisque;
    height:100px;
    text-align: center;
 }

 
 nav{
    background-color: grey;
    height:69px;
 }
 
 aside{
    background-color:Green;
    width:33%;
    float:left;
    margin:0px;
    
 }
 
 section{
    background-color:yellow;
    width:33%;
    float:left;
    margin:0px;
 }
 
 article {
    background-color:Pink;
    width:34%;
    float:left;
    margin:0px;
 }
 
 footer {
    background-color: bisque;
    clear: both;
    text-align: center;
    height: 100px;
 }
 
 p{
    text-align: justify;
    padding: 10px;
 }

  
 @media screen and (max-width:600px){
    aside, section, article
   {
      width:100%;
   }

    }
    
 #Navbar1 ul {
    list-style-type: none;
    margin: 0;
    padding: 0;
    overflow: hidden;
    background-color: Red;
 }
 
 #Navbar1 li {
    float: left;
 }
 #Navbar1 a {
    display: block;
    color: rgb(286, 240, 240);
    text-align: center;
    padding: 25px;
    text-decoration: none;
 }
 #Navbar1 li a:hover {
    background-color: blue;
 }