body{
    font-family: Arial, sans-serif;
    background:#f8f2f2;
    text-align:center;
}

.container{
    margin:20px auto;
    width:80%;
}

.input-block{
    display:block;
    width:250px;
    margin:10px auto;
    padding:8px;
}

.inline-container{
    margin-top:20px;
}

.inline-text{
    display:inline-block;
    width:300px;
    vertical-align:middle;
}

.inline-btn{
    display:inline-block;
    vertical-align:middle;
    padding:6px 10px;
    margin-left:5px;
}

.google-box{
    margin-top:40px;
}

.google-logo{
    width:200px;
    margin-bottom:10px;
}

.search-box{
    width:300px;
    padding:10px;
    border-radius:20px;
    border:1px solid #ccc;
}

.challenge{
    margin-top:50px;
}

.signup{
    display:inline-block;
    background:#fff;
    padding:20px;
    margin:10px;
    border-radius:10px;
}

.signup input{
    display:inline-block;
    width:120px;
    padding:8px;
    margin:5px;
}

.signup .email{
    display:block;
    width: 275px;
}

.signup button{
    display:block;
    width:300px;
    padding:10px;
    background:#3b82f6;
    color:white;
    border:none;
    border-radius:5px;
}

.uber{
    display:inline-block;
    background:#fff;
    padding:20px;
    margin:10px;
    border-radius:10px;
    text-align:left;
}

.uber input{
    display:block;
    width:250px;
    padding:8px;
    margin:10px 0;
}

.uber button{
    padding:10px;
    margin-right:5px;
    border:none;
}

.request{
    background:black;
    color:white;
}

.schedule{
    background:#ddd;
}